<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Twitter Streaming API settings. -->
        <add key="apiKey" value="h1mtXxaMtXKNA8BeAtES9c0ES" />
        <add key="apiSecret" value="XZtxsIQBoiDNPMxQgtLfXS9Q0bh1KpIvgootJBwWWEEqTuQdEG" />
        <add key="apiUrl" value="https://api.twitter.com/2/tweets/sample/stream?tweet.fields=entities"/>
        <!-- Stream Settings -->
        <add key="maxMessageSize" value="250"/>
        <add key="maxRequestsInProgress" value="5"/>
        <add key="maxSecondsToBuffer" value="20"/>
        <!-- Service Bus specific app setings for messaging connections. -->
        <add key="EventHubConnectionString" value="Endpoint=sb://twitterstreammb.servicebus.windows.net/;SharedAccessKeyName=socialtwitter-access;SharedAccessKey=NtQowiohsfimxbI0+8DPMk0g4a1Zlz4C/GUbTMAN+ZA=;EntityPath=socialtwitter-eh" />
        <add key="EventHubName" value="socialtwitter-eh"/>
    </appSettings>
</configuration>